body {
    background-color: #f0f0f5; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#calculator {
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    width: 220px;
    background: linear-gradient(145deg, #f3f3f3, #e1e1e1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#display {
    margin: 10px;
    width: 90%;
    font-size: 28px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.button {
    width: 50px;
    height: 50px;
    margin: 3px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: scale(0.98);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
